/* INICIO - HEADER - IMAGEM CAPA*/

/* PALETA DE CORES -->

    #3F4D39 -- VERDE ESCURO
    #92A48B -- VERDE CLARO
    #F1EDEC -- ROSA CLARO
    #DBB7AB -- ROSA ESCURO

*/
@import url(https://fonts.google.com/specimen/Amatic+SC);

img#imgcapa {
    height: 500px;
    object-fit: cover;
    width: 102%;
    display: block;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;

}

header {
    min-height: 550px;
    text-align: center;

}

body {
    text-align: center;
    background-color: #DBB7AB;
    
}
/* FIM - HEADER - IMAGEM CAPA*/

/* INICIO - HEADER - BOTÃO*/
nav {
    margin: 3px;

}

.button {
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Amatic+SC";
}

.btn01 {
    background-color: #DBB7AB; 
    color: black; 
    border: 2px solid #DBB7AB;
}

.btn01:hover {
    background-color: #92A48B;
    color: #F1EDEC;
    border: 2px solid #92A48B;
}

.btn02 {
    background-color: #DBB7AB;
    color: black;
    border: 2px solid #DBB7AB;
}

.btn02:hover {
    background-color: #92A48B;
    color: #F1EDEC;
    border: 2px solid #92A48B;
}

.btn03 {
    background-color: #DBB7AB;
    color: black;
    border: 2px solid #DBB7AB;
}

.btn03:hover {
    background-color: #92A48B;
    color: #ffe3cd;
    border: 2px solid #92A48B;
}
/* FIM - HEADER - BOTÃO*/

/* INICIO - IMAGENS PROJETO */

div.polaroid {
    background-color: #f6e3d8;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    border-radius: 0px 0px 15px 15px;
    background-color: #f6e3d8;
    text-align: center;
    padding: 10px 20px;
}

img#imgPortifolio {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
}